body{
    margin:0px;
    padding:0px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* p{
    margin:0px;
    padding:0px;
} */

.first_one{
    width:100%;
    height:100vh;
    background-color:#a4152c;
    position:relative;
    /* overflow:hidden; */
  
}

.container1{
    z-index:1;
    position:absolute;
    top:10%;
    width:100%;
    height:80%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.header{
    height: 10%;
    width: 100%;
    position:absolute;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;  

}

.header .h_left{
    width:50%;
    height:100%;

    display:flex;
    justify-content:center;
    align-items:center;
   
}

.header_title{
    font-size:35px;
    font-family: colibri;
    font-weight:bold;
   
}

.header .h_right{
    width:50%;
    height:100%;

    display: flex;
    justify-content:center;
    align-items:center;


}

.phone{
    margin-left: 20px;
}
.insta{
    border-radius:50%;
}

.header p{

    font-family:colibri;
    	color:#e6e6e6;
  
}


.header .nav_imgs{
    width: 36px;
    height: 36px;
    margin-left: 7px;
    margin-right: 7px;

}



.footer{
    height:10%;
    position:absolute;
    width:100%;
    top:90%;

    display:flex;
    align-items:center;
    justify-content:center;  
    
}

.f_left{
    width:50%;
 
}

.f_right{
    width:50%;
  
    display: flex;
    justify-content:center;
    align-items:center;
}

.footer p {
    font-family:colibri;
    color:#e6e6e6;
    display: flex;
   
    justify-content:center;
    align-items:center;
}






.box{
    margin-top: 10px;
    width: 300px;
    height:580px;
    background-color:#1e1e26;
    border-radius:10px;
    box-shadow:2px 10px 12px rgba(0,0,0,0.2);
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:space-between;
    box-sizing: border-box;
    
    margin-left:25px;
    margin-right:25px;
}

.poza{
    height: 400px;
    max-height: 100%;
	max-width: 100%;
    object-fit:cover;
    box-sizing: border-box;
}

.details{
    display:flex;
    flex-direction: column;
    align-items:center;
    width:300px;
    overflow: hidden;
}


.details p{
    font-family: calibri;
    font-weight: bold;
    color:#6a6a74;
    text-align: center;
    margin-top:5px;
}

.titlu{
    font-size:35px;
    letter-spacing:1px;
}

.box:hover{
    background-color: #17171d;
	transform-style: preserve-3d;
	transform: scale(1.02);
	transition: all ease 0.3s;
}

.box:hover .titlu{
	color:#e6e6e6;
	transition: all ease 0.6s;
}




@media(max-width:720px)  {

    .phone{
        margin-left: 0px;
    }
    .header_title{
        padding-top: 10px;;
        font-size:20px;
        font-family: colibri;
        font-weight:bold;
       
    }
    p{
        font-size:10px;
    }

    .details p{

        margin:0px;
    }
    .titlu{
        font-size:15px;
        letter-spacing:1px;
    }

    .header .nav_imgs{
        width: 20px;
        height: 20px;
        margin-left: 3px;
        margin-right: 3px;
    
    }

    .box{
        width:90%;
        height:450px;
        width:280px;
        justify-content:unset;
    }

    .poza{
        margin:0px;
        height:350px;
        margin-bottom: 10px;
    }
    .model{
        height:250px;
    }
    .details{
        margin:0px;
    }
    .details p{
        font-size:13px;
        width:250px;
       
    }


    .footer p{
        font-size:10px;
    }
 

}




@media(max-height:635px) {

    .phone{
        margin-left: 0px;
    }
    .header_title{
        padding-top: 10px;;
        font-size:20px;
        font-family: colibri;
        font-weight:bold;
       
    }
    p{
        font-size:10px;
    }

    .details p{

        margin:0px;
    }
    .titlu{
        font-size:13px;
        letter-spacing:1px;
    }

    .header .nav_imgs{
        width: 20px;
        height: 20px;
        margin-left: 3px;
        margin-right: 3px;
    
    }

    .box{
        width:90%;
        height:350px;
        width: 230px;
        justify-content:unset;
    }

    .poza{
        margin:0px;
        height:270px;
        margin-bottom: 10px;
    }
    .model{
        height:250px;
    }
    .details{
        margin:0px;
    }
    .details p{
        font-size:13px;
        width:250px;
       
    }


    .footer p{
        font-size:8px;
    }
 

}




/* bubbles */
.bubble_overlay
{
    position:absolute;
    width:100%;
    height:100%;

}
.bubble_overlay span{
 position:absolute;
 bottom:50px;
 background: transparent;
 border-radius: 50%;
 pointer-events:none;
 box-shadow: inset 0 0 10px red;
 transform: scale(0.25) translate(-70%,-70%);
 animation: animate 6s linear infinite;
}



@keyframes animate{
    0%
    {
        transform:translateY(0%);
        opacity:1;
    }
    100%{
        transform:translateY(-1200%);
        opacity:1;
    }
} 

.photo {
    transition: all 1s ease-in-out !important; 
}
.photo:hover {
    transform: scale(1.1) !important;
}

.interact {
    position: absolute;
    margin: auto;
    border-radius: 4px;
    /* Here we declare our inline animation */
    animation: scale 1s linear infinite;
}

/* Here we define our animation with the name "rotate" */
@keyframes scale {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
    }
}

* {  
    cursor: url("../img/mouse.png"), auto;
}